<nav>
  <figure routerLink="/">
    <img src="../../../assets/images/mediehuset-logo.png" alt="Mediesuset logo">
    <figcaption>
      <h2>Medie<span>suset</span></h2>
      <p>4 - 5 - 6 - 7. juli 2020</p>
    </figcaption>
  </figure>
  <ul>
    <li><a id="cta" routerLink="">Køb billet</a></li>
    <li><a routerLink="">Nyheder</a></li>
    <li><a routerLink="">Events</a>
      <span id="arrow_down" class="material-icons">
        expand_more
      </span>
      <ul>
        <li><a href="">Program</a></li>
        <li><a href="">Line-up</a></li>
      </ul>
    </li>
    <li><a routerLink="">Camps</a></li>
    <li><a routerLink="">Praktisk info</a></li>
    <li><a routerLink="">login</a></li>
  </ul>
  <span id="search" class="material-icons">
    search
  </span>
</nav>
