<app-nav></app-nav>
<main>
    <h1>Mit Program</h1>
    <section *ngFor="let item of myProgram; let i = index">
        <h2>{{item.day}}</h2>
        <div *ngFor="let list of item.items; let i = index" class="programs">
            <h3 [class]="item.color[i]">{{list.stage_name}} Kl. {{timeConverter(list.datetime)}}</h3>
            <p>{{list.event_title}}</p>
            <span id="delete" class="material-icons" (click)="deleteProgram(list.id, $event)">
                delete_forever
            </span>
        </div>
    </section>
</main>
<app-footer></app-footer>