<app-nav></app-nav>
<main>
    <h1>Program</h1>

    <section class="filter-settings">
        <button class="filter-buttons" (click)="dayFilter('wed', $event.target)" type="button">Onsdag
        </button>
        <button class="filter-buttons" (click)="dayFilter('thu', $event.target)" type="button">Torsdag
        </button>
        <button class="filter-buttons" (click)="dayFilter('fri', $event.target)" type="button">Fredag
        </button>
        <button class="filter-buttons" (click)="dayFilter('sat', $event.target)" type="button">Lørdag
        </button>
    </section>
    <section class="program">
        <h2 class="red-scene">Rød scene</h2>
        <section *ngFor="let item of day; let i = index">
            <div *ngIf="item.stage_name === 'Rød scene'" class="red-border" (click)="addEvent(item.id)">
                <h4>{{timeConverter(item.local_time)}}</h4>
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.stage_name}}</p>
                </div>
            </div>
        </section>
        <h2 class="blue-scene">Blå scene</h2>
        <section *ngFor="let item of day">
            <div *ngIf="item.stage_name === 'Blå scene'" class="blue-border" (click)="addEvent(item.id)">
                <h4>{{timeConverter(item.local_time)}}</h4>
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.stage_name}}</p>
                </div>
            </div>
        </section>
        <h2 class="green-scene">Grøn scene</h2>
        <section *ngFor="let item of day">
            <div *ngIf="item.stage_name === 'Grøn scene'" class="green-border" (click)="addEvent(item.id)">
                <h4>{{timeConverter(item.local_time)}}</h4>
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.stage_name}}</p>
                </div>
            </div>
        </section>
        <h2 class="purple-scene">Lilla scene</h2>
        <section *ngFor="let item of day">
            <div *ngIf="item.stage_name === 'Lilla scene'" class="purple-border" (click)="addEvent(item.id)">
                <h4>{{timeConverter(item.local_time)}}</h4>
                <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.stage_name}}</p>
                </div>
            </div>
        </section>
    </section>
</main>
<app-footer></app-footer>