@import '../../media.scss';

header {
  figure {
    width: 100%;
    height: 450px;
    overflow: hidden;

    img {
      position: relative;
      z-index: -1;
      width: 100%;
      object-fit: cover;
      height: 450px;
      transform: translateY(-50px);
    }
  }
}

main {
  width: 60%;
  margin: 0 auto;

  @include desktop-small {
    width: 80%;
  }

  h1 {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  h2 {
    width: 100%;
    background-color: #292929;
    color: white;
    padding: 1em;
  }

  .information {
    width: 70%;
    padding: 1em;

    h3 {
      margin: 1em 0;
    }

    p {
      line-height: 2em;

    }
  }

  .order-amount {
    display: flex;
    border-bottom: 1px solid black;

    @include mobile-big {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: end;
    }

    input {
      padding: .5em .5em .5em 1.2em;
      margin: 1em;
      width: 40px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }

    }

    p {
      margin: 1em;
      align-self: center;

      &:nth-child(3) {
        @include mobile-big {
          grid-column: 3;
        }
      }

      &:nth-child(4) {
        margin-left: auto;

        @include mobile-big {
          grid-column: 2;
        }
      }

      &:nth-child(6) {
        margin-left: 4em;

        @include mobile-big {
          display: none;
          color: red;
        }

      }
    }
  }

  .full-price {
    display: flex;
    border-bottom: 1px solid black;

    p {
      margin: 1em;

      &:nth-child(2) {
        margin-left: auto;
      }

      &:nth-child(2) {
        margin-right: 4em;
      }
    }
  }

  .personal-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
    margin-bottom: 4em;

    @include desktop-small {
      display: block;
    }

    .camp {
      margin-bottom: 1em;
    }

    .userinfo {
      margin-top: 2em;
    }

    label {
      display: block;
      margin-top: 1em;
      margin-bottom: .5em;
    }

    .amount-container {
      width: 40px;
      display: inline-block;
      margin-right: 1em;

    }

    input {
      display: block;
      padding: .5em;
      width: 100%;

      &:nth-child(2) {
        display: inline-block;
        padding: .5em .5em .5em 1.2em;
        width: 40px;
        margin-right: 1em;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
    }

    .camp-container {
      width: calc(100% - 56px);
      display: inline-block;

      select {
        padding: .5em;
        width: 100%;
        display: inline-block;

      }
    }

    .city {
      width: 100%;
      display: grid;
      grid-template-columns: 30% 1fr;
      gap: 1em;

      div {
        width: 100%;

        input {
          width: 100%;
        }
      }
    }

    .shipping-option {
      position: relative;

      div {
        display: grid;
        grid-template-columns: auto 1fr;
      }

      input {
        width: auto;
        margin: 1.5em;
        border: 0px;
        width: 100%;
        height: 1.5em;
      }

      label {
        margin: 1em 1em 1em 2em;

        span {
          display: block;
          font-weight: bold;
        }
      }

      button {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.2em;
        background-color: #336699;
        color: white;
        padding: 1em 3em;
        border: none;

        &:disabled {
          opacity: .4;
          cursor: unset;
        }

        @include desktop-small {
          position: unset;

          width: 100%;
        }
      }
    }
  }
}

.error {
  color: red;
}
